@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --borderRadius: 10px;
}

html, body {
  font-family: 'Poppins', sans-serif;
  color: #111;
}

/* Typography */

h1 {
  font-size: 30px;
  font-weight: 500;
}

button {
  padding: 0.2em;
}

.form-title {
  font-weight: 500;
  font-size: 1.1em;
}

.form-label {
  font-weight: 500;
  font-size: 0.9em;
}

.explanation {
  font-weight: 500;
  font-size: 0.9em;
  margin-bottom: 0.5rem;
}

  /* Containers */

  .container {
    width: 90%;
    margin: auto;
    margin-top: 150px;
  }
  
  .emission-types-container {
    border: 1px solid black;
    display: flex;
    max-width: 800px;
    justify-content: space-evenly;
    margin: auto;
    min-height: 200px;
    margin-bottom: 50px;
    border-radius: var(--borderRadius);
  }
  
  .emission-form {
    border: 1px solid black;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    margin: auto;
    min-height: 200px;
    margin-bottom: 50px;
    border-radius: var(--borderRadius);
  }

  /* forms */
  .form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    margin: auto;
    margin-left: 30px;
  }
  
  #how-to-use {
    width: 50%;
    margin: auto;
  }
  

/* Icons */

.fa-car {
  color: #c4a2fc;
}
.fa-plane {
  color: #1F2471
}
.fa-bolt {
  color: yellow
}

/* logo */
.logo {
  position: absolute; 
  top: 30px;
  left: 100px;
  font-size: 2rem;
  font-weight: 700;
  z-index: 10;
}


.energy-consumption-mode:hover {
  outline-style: solid;
  outline: darkslategray;
  outline-color: rgba(169, 169, 169, 0.051);
  outline-offset: 2px;
  transform: scale(0.90);
}

.car {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.plane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.electricity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Emissions Totals  */

.total-emissions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.emission-total {
  display: flex;
}

.total {
  text-align: center;
  margin-left: 2em;
}

.chart {
    background-color: #ffffff;
    display: inline-block;
    /* padding: 20px;
    padding-top: 10px;
    border-radius: 4px;
    margin-bottom: 15px; */
}

.data-visualisation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}
.chart h2 {
  text-align: center;
  margin-bottom: 5px;
}
