@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --borderRadius: 10px;
}

html, body {
  font-family: 'Poppins', sans-serif;
  color: #111;
}

h1 {
  font-size: 30px;
  font-weight: 500;
}

.logo {
  position: absolute; 
  top: 30px;
  left: 100px;
  font-size: 2rem;
  font-weight: 700;
  z-index: 10;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  /* margin-top: 60px; */
}


/* emissions container */
  /* border-radius: var(--borderRadius); */
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly; */
  /* border: 2px black solid;
  background-color: cyan; */


.energy-consumption-mode {
  border-radius: var(--borderRadius);
  width: 200px;
  margin: 10px 10px;
}

.energy-consumption-mode:hover {
  background-color: red;
  transform: scale(0.90);
}



.car {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.plane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.electricity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.total-emissions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 10px;
}

/* .emission-form {
  width: 800px;
  height: 300px;
  border: 2px black solid;
  border-radius: var(--borderRadius);
  margin-left: 50px;
  background-color: cyan;
  display: flex;
  flex-direction: row;
} */

/* #form {
  width: 50%;
  margin-left:5%;
  margin-right: 5%;
}

#how-to-use {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}
.emission-form .largeTitle {
  text-align: center;
  text-decoration: underline;
}

.emission-form .explanation {
  text-align:left;
  font-size: 0.9rem;
} */

.chart {
    background-color: #ffffff;
    display: inline-block;
    /* padding: 20px;
    padding-top: 10px;
    border-radius: 4px;
    margin-bottom: 15px; */
}

.data-visualisation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 50px;
}
.chart h2 {
  text-align: center;
  margin-bottom: 5px;
}
