@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --borderRadius: 10px;
}

html, body {
  font-family: 'Poppins', sans-serif;
  color: #111;
}

h1 {
  font-size: 30px;
  font-weight: 500;
}

.fa-car {
  color: #c4a2fc;
}
.fa-plane {
  color: #1F2471
}
.fa-bolt {
  color: yellow
}

.logo {
  position: absolute; 
  top: 30px;
  left: 100px;
  font-size: 2rem;
  font-weight: 700;
  z-index: 10;
}
.container {
  width: 90%;
  margin: auto;
  margin-top: 150px;
}



.main-container {
  width: 100%;
  margin-bottom: 50px;
  border: 1px solid grey;
}

.emission-types-container {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  margin: auto;
}

.emission-form {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;
}


.energy-consumption-mode:hover {
  outline-style: solid;
  outline: darkslategray;
  outline-color: rgba(169, 169, 169, 0.051);
  outline-offset: 2px;
  transform: scale(0.90);
}

.car {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.plane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.electricity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.total-emissions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 10px;
}



/* #form {
  width: 50%;
  margin-left:5%;
  margin-right: 5%;
}

#how-to-use {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}
.emission-form .largeTitle {
  text-align: center;
  text-decoration: underline;
}

.emission-form .explanation {
  text-align:left;
  font-size: 0.9rem;
} */

.chart {
    background-color: #ffffff;
    display: inline-block;
    /* padding: 20px;
    padding-top: 10px;
    border-radius: 4px;
    margin-bottom: 15px; */
}

.data-visualisation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 50px;
}
.chart h2 {
  text-align: center;
  margin-bottom: 5px;
}
